/* body */
:root {
  --color-text: #212121;
  --background-color-page: #ffffff;
  --color-white: #ffffff;
  --color-silver: #757575;
  --color-blu-: #2196f3;
}
.body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--color-text);
  background-color: var(--background-color-page);
  font-style: normal;
}
ul {
  list-style: none;
}
/* logo/header/footer */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  color: var(--color-blu-);
  text-decoration: none;
}
.logo-color {
  color: #000000;
}
/* site-nav */
.site-nav {
  color: var(--color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link {
  color: var(--color-text);
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--color-blu-);
}
/* site-nav-contact */
.site-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.link-contact {
  color: var(--color-silver);
  text-decoration: none;
}
.link-contact:hover {
  color: var(--color-blu-);
}
/* main */
/* button section / portfolio */
.heading-none {
  display: none;
}
.btn-items {
  display: flex;
}
.btn {
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
}
.btn:hover {
  background-color: #2196f3;
  color: var(--color-white);
}
/* button section studio */
.caption-studio {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
}
.btn-studio {
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--color-blu-);
  color: var(--color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
/* section portfolio */
.portfolio-list {
  color: var(--color-text);
}
.portfolio-link {
  text-decoration: none;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-text);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.875;
  color: var(--color-silver);
}
/* text studio */
.studio-title {
  font-size: 14px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-text);
}
.studio-text {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--color-silver);
}
/* photo-studio */
.photo-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text);
}
/* studio-team */
.studio-team-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text);
}
.studio-team-worker {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text);
}
.studio-team-text {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-silver);
}

/* footer */
.logo-color-footer {
  color: var(--color-white);
}
.address-link {
  font-size: 14px;
  line-height: 1.714;
  color: var(--color-white);
  font-style: normal;
  text-decoration: none;
}
.address-contact {
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.714;
  text-decoration: none;
  font-style: normal;
  color: #acaab0;
}
